<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

    <display-name>Welcome to Tomcat</display-name>
    <description>
        Welcome to Tomcat
    </description>
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/fmt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/fmt-rt</taglib-uri>
            <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core-rt</taglib-uri>
            <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
            <taglib-location>/WEB-INF/sql.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/sql-rt</taglib-uri>
            <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/x</taglib-uri>
            <taglib-location>/WEB-INF/x.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/x-rt</taglib-uri>
            <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
        </taglib>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>ljsys/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductInfo</servlet-name>
        <servlet-class>ProductInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductInfo</servlet-name>
        <url-pattern>/ProductInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Confirm</servlet-name>
        <servlet-class>Confirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Confirm</servlet-name>
        <url-pattern>/Confirm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Inbound</servlet-name>
        <servlet-class>Inbound</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inbound</servlet-name>
        <url-pattern>/Inbound</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Outbound</servlet-name>
        <servlet-class>Outbound</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Outbound</servlet-name>
        <url-pattern>/Outbound</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WarehouseInfo</servlet-name>
        <servlet-class>WarehouseInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WarehouseInfo</servlet-name>
        <url-pattern>/WarehouseInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPrintingProducts</servlet-name>
        <servlet-class>GetPrintingProducts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPrintingProducts</servlet-name>
        <url-pattern>/GetPrintingProducts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>LoginCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuerySQL</servlet-name>
        <servlet-class>QuerySQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuerySQL</servlet-name>
        <url-pattern>/QuerySQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAuthority</servlet-name>
        <servlet-class>GetAuthority</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAuthority</servlet-name>
        <url-pattern>/GetAuthority</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExecuteSQL</servlet-name>
        <servlet-class>ExecuteSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExecuteSQL</servlet-name>
        <url-pattern>/ExecuteSQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserBatchInsert</servlet-name>
        <servlet-class>UserBatchInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserBatchInsert</servlet-name>
        <url-pattern>/UserBatchInsert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddGroupFunction</servlet-name>
        <servlet-class>AddGroupFunction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGroupFunction</servlet-name>
        <url-pattern>/AddGroupFunction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddGroupProcessContent</servlet-name>
        <servlet-class>AddGroupProcessContent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGroupProcessContent</servlet-name>
        <url-pattern>/AddGroupProcessContent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddGroup</servlet-name>
        <servlet-class>AddGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGroup</servlet-name>
        <url-pattern>/AddGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddFactory</servlet-name>
        <servlet-class>AddFactory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFactory</servlet-name>
        <url-pattern>/AddFactory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddWarehouse</servlet-name>
        <servlet-class>AddWarehouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddWarehouse</servlet-name>
        <url-pattern>/AddWarehouse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetWarehouseInfo</servlet-name>
        <servlet-class>GetWarehouseInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetWarehouseInfo</servlet-name>
        <url-pattern>/GetWarehouseInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEquipment</servlet-name>
        <servlet-class>AddEquipment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEquipment</servlet-name>
        <url-pattern>/AddEquipment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetQRCode</servlet-name>
        <servlet-class>SetQRCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetQRCode</servlet-name>
        <url-pattern>/SetQRCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetQRCode</servlet-name>
        <servlet-class>GetQRCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetQRCode</servlet-name>
        <url-pattern>/GetQRCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PrintLabel</servlet-name>
        <servlet-class>PrintLabel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrintLabel</servlet-name>
        <url-pattern>/PrintLabel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadZip</servlet-name>
        <servlet-class>DownloadZip</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadZip</servlet-name>
        <url-pattern>/DownloadZip</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddQRCodeStyle</servlet-name>
        <servlet-class>AddQRCodeStyle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddQRCodeStyle</servlet-name>
        <url-pattern>/AddQRCodeStyle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUserGp</servlet-name>
        <servlet-class>AddUserGp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserGp</servlet-name>
        <url-pattern>/AddUserGp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPrintDataByExcel</servlet-name>
        <servlet-class>GetPrintDataByExcel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPrintDataByExcel</servlet-name>
        <url-pattern>/GetPrintDataByExcel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IsExist</servlet-name>
        <servlet-class>IsExist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsExist</servlet-name>
        <url-pattern>/IsExist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProjectItem</servlet-name>
        <servlet-class>AddProjectItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProjectItem</servlet-name>
        <url-pattern>/AddProjectItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PrintProduct</servlet-name>
        <servlet-class>PrintProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrintProduct</servlet-name>
        <url-pattern>/PrintProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPrint</servlet-name>
        <servlet-class>ResetPrint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPrint</servlet-name>
        <url-pattern>/ResetPrint</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetProductInfo</servlet-name>
        <servlet-class>GetProductInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProductInfo</servlet-name>
        <url-pattern>/GetProductInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InOutWarehouse</servlet-name>
        <servlet-class>InOutWarehouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InOutWarehouse</servlet-name>
        <url-pattern>/InOutWarehouse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addPlan</servlet-name>
        <servlet-class>AddPlan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPlan</servlet-name>
        <url-pattern>/AddPlan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getPlan</servlet-name>
        <servlet-class>GetPlan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPlan</servlet-name>
        <url-pattern>/GetPlan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getPreProduct</servlet-name>
        <servlet-class>GetPreProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPreProduct</servlet-name>
        <url-pattern>/GetPreProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>printPreProduct</servlet-name>
        <servlet-class>PrintPreProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>printPreProduct</servlet-name>
        <url-pattern>/PrintPreProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletePlan</servlet-name>
        <servlet-class>DeletePlan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePlan</servlet-name>
        <url-pattern>/DeletePlan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addArchives</servlet-name>
        <servlet-class>AddArchives</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addArchives</servlet-name>
        <url-pattern>/AddArchives</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateArchives</servlet-name>
        <servlet-class>UpdateArchives</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateArchives</servlet-name>
        <url-pattern>/UpdateArchives</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteArchives</servlet-name>
        <servlet-class>DeleteArchives</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteArchives</servlet-name>
        <url-pattern>/DeleteArchives</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getArchives</servlet-name>
        <servlet-class>GetArchives</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getArchives</servlet-name>
        <url-pattern>/GetArchives</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletePreProduct</servlet-name>
        <servlet-class>DeletePreProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePreProduct</servlet-name>
        <url-pattern>/DeletePreProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addLine</servlet-name>
        <servlet-class>AddLine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addLine</servlet-name>
        <url-pattern>/AddLine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addPlanName</servlet-name>
        <servlet-class>AddPlanName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPlanName</servlet-name>
        <url-pattern>/AddPlanName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addPlant</servlet-name>
        <servlet-class>AddPlant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPlant</servlet-name>
        <url-pattern>/AddPlant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addQc</servlet-name>
        <servlet-class>AddQc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addQc</servlet-name>
        <url-pattern>/AddQc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteLine</servlet-name>
        <servlet-class>DeleteLine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteLine</servlet-name>
        <url-pattern>/DeleteLine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletePlanName</servlet-name>
        <servlet-class>DeletePlanName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePlanName</servlet-name>
        <url-pattern>/DeletePlanName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletePlant</servlet-name>
        <servlet-class>DeletePlant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePlant</servlet-name>
        <url-pattern>/DeletePlant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteQc</servlet-name>
        <servlet-class>DeleteQc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteQc</servlet-name>
        <url-pattern>/DeleteQc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateLine</servlet-name>
        <servlet-class>UpdateLine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateLine</servlet-name>
        <url-pattern>/UpdateLine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatePlanName</servlet-name>
        <servlet-class>UpdatePlanName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatePlanName</servlet-name>
        <url-pattern>/UpdatePlanName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatePlant</servlet-name>
        <servlet-class>UpdatePlant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatePlant</servlet-name>
        <url-pattern>/UpdatePlant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateQc</servlet-name>
        <servlet-class>UpdateQc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateQc</servlet-name>
        <url-pattern>/UpdateQc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getLine</servlet-name>
        <servlet-class>GetLine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getLine</servlet-name>
        <url-pattern>/GetLine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getPlanName</servlet-name>
        <servlet-class>GetPlanName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPlanName</servlet-name>
        <url-pattern>/GetPlanName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getPlant</servlet-name>
        <servlet-class>GetPlant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPlant</servlet-name>
        <url-pattern>/GetPlant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getQc</servlet-name>
        <servlet-class>GetQc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getQc</servlet-name>
        <url-pattern>/GetQc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateDefaultQc</servlet-name>
        <servlet-class>UpdateDefaultQc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateDefaultQc</servlet-name>
        <url-pattern>/UpdateDefaultQc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getDefaultQc</servlet-name>
        <servlet-class>GetDefaultQc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getDefaultQc</servlet-name>
        <url-pattern>/GetDefaultQc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pour</servlet-name>
        <servlet-class>Pour</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pour</servlet-name>
        <url-pattern>/Pour</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>inspect</servlet-name>
        <servlet-class>Inspect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inspect</servlet-name>
        <url-pattern>/Inspect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cancelPour</servlet-name>
        <servlet-class>CancelPour</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cancelPour</servlet-name>
        <url-pattern>/CancelPour</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cancelInspect</servlet-name>
        <servlet-class>CancelInspect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cancelInspect</servlet-name>
        <url-pattern>/CancelInspect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>inspectNo</servlet-name>
        <servlet-class>InspectNo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inspectNo</servlet-name>
        <url-pattern>/InspectNo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatePassword</servlet-name>
        <servlet-class>UpdatePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>autoLogin</servlet-name>
        <servlet-class>AutoLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>autoLogin</servlet-name>
        <url-pattern>/AutoLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getPreProductWarehouse</servlet-name>
        <servlet-class>GetPreProductWarehouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPreProductWarehouse</servlet-name>
        <url-pattern>/GetPreProductWarehouse</url-pattern>
    </servlet-mapping>
</web-app>
