.pop_up {
    content: ".";
    clear: both;
    display: none;
    border-radius: 4px;
    width: 70%;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    left: 22%;
    height: 90%;
    top: 8%;
    z-index: 1;
}

.hiddenTDOverFlowContent {
    table-layout: fixed;
}

.hiddenTDOverFlowContent td {
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pop_up .pop_title {
    background-color: #1B65B9;
    padding: 15px 15px;
    font-family: 'PingFang SC Bold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 14px;
    color: #fff;
    text-align: left;
    line-height: 18px;
    border-bottom: 1px solid #ccc;
}

.pop_footer {
    text-align: center;
    margin: 10px 0;
    padding: 10px 5px 0;
    border-top: 1px solid #CCCCCC;
    height: 36px;
}


.pop_footer button {
    width: 70px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    margin: 0 5px;
    border: 1px solid rgba(217, 217, 217, 1);
    cursor: pointer;
}

.close_btn {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}


.save-btn {
    background-color: #1B65B9;
    color: #fff;
}
