
.MenuStyle {
    width: 100%;
    height: 100%;
    float: left;
    background-color: rgb(50, 64, 87);
    margin: 0px;
    padding: 0px;
}

.MenuItemStyle {
    width: 100%;
    height: 100px;
}

.BodyStyle {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.ul_ListStyle {
    padding-inline-start: 0px;
    background-color: rgb(31, 45, 61);
    margin: 0px;
    padding: 0px;
}

.ul_TopListStyle {
    list-style-type: none;
    padding-inline-start: 0px;
    /*list-style-image: url(http://101.37.32.123:8989/ljsys/pictures/right.png);*/
    margin: 0px;
    padding: 0px;
}

.li_ItemStyle {
    width: 100%;
    height: 35px;
    line-height: 35px;
    list-style: none;
    color: azure;
    border: none;
    font-size: 14px;
    font-family: normal;
    background-color: rgb(31, 45, 61);
    text-align:left
}

/*li:hover {*/
/*    background-color: lightblue;*/
/*}*/

.li_TopItemStyle {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: azure;
    font-size: 14px;
    font-family: normal;
    /*align-content: center;*/
    background-color: rgb(50, 64, 87);
}

.TitleStyle {
    text-align: center;
    color: aliceblue;
    font-size: 14px;
    font-family: normal;
}

.LoginStyle {
    background: #fff;
    border-radius: 2px;
    padding: 50px;
    height: 339px;
    width: 366px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    /*right: 40%;*/
    /*top: 25%;*/
    left:0;
    top: 0;
    bottom: 10%;
    right: 0;
    margin: auto;
}


/* 登陆输入框的样式 */
.LoginInputStyle {
    width: 350px;
    height: 300px;
    margin: 50px auto;
}

.FormInputStyle {
    font-size: 14px;
}

.tdStyle {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    font-family: normal;
    line-height: 30px;
}

.pStyle {
    font-size: 14px;
    font-family: normal;
    padding: 0;
    font-family: normal;
}

.tdStyle_title {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-family: normal;
    font-weight: bolder;
    line-height: 30px;

    /*background: #F5F7FA;*/
    /*-webkit-transition: background 0.3s ease;*/
    /*transition: background 0.3s ease;*/
    /*color: rgba(0, 0, 0, 0.85);*/
    /*font-weight: 500;*/
    /*border-bottom: 1px solid #EBEEF5;*/
}

.tdStyle_body {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-family: normal;
    line-height: 25px;
    white-space: nowrap;
}

.gif {
    position: absolute; /*声明绝对定位*/
    left: 0; /*在页面最左侧对齐*/
    top: 0; /*在页面最上方对齐*/
    height: 100vh; /*高度是相对屏幕高度的100%*/
    width: 100vw; /*宽度是相对屏幕宽度的100%*/
    z-index: 2; /*设置元素优先级为1级*/
    display: none; /*设置元素隐藏*/
    align-items: center; /*让子元素横向居中(声明flex后有效)*/
    justify-content: center; /*让子元素垂直居中(声明flex后有效)*/
    background-color: rgba(0, 0, 0, 0.5); /*设置背景颜色为黑色，并给0.5透明度*/
}

/*设置gif下的img元素样式*/
.gif > img {
    /*height: 5%;*/
    width: 5%;
}

.ant-input {
    font-family: Microsoft YaHei, Hiragino Sans GB, Pingfang SC, Arial, Helvetica Neue, Helvetica;
    font-variant: tabular-nums;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 1.5;
    color: #303133;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.ant-input:not(:first-child) {
    padding-left: 30px;
}

.ant-input-suffix_username {
    position: absolute;
    top: 37%;
    left: 16%;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 0;
    color: #303133;
}
.ant-input-suffix_password {
    position: absolute;
    top: 52%;
    left: 16%;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 0;
    color: #303133;
}

